## datacheck

In [3]:
import os
import chardet
import pandas as pd
from concurrent.futures import ThreadPoolExecutor
from tqdm import tqdm

def detect_encoding(file_path):
    try:
        with open(file_path, 'rb') as f:
            result = chardet.detect(f.read(1024))
        return [file_path, result.get('encoding')]
    except Exception as e:
        print(f"{file_path} generated an exception: {e}")
        return None

def check_file_encodings(folder_path):
    encoding_data = []
    with ThreadPoolExecutor(max_workers=10) as executor:
        futures = []
        for root, dirs, files in os.walk(folder_path):
            for filename in files:
                if filename.endswith(".txt"):
                    file_path = os.path.join(root, filename)
                    futures.append(executor.submit(detect_encoding, file_path))
        for future in tqdm(futures, desc="Checking encodings"):
            result = future.result()
            if result:
                encoding_data.append(result)
    df = pd.DataFrame(encoding_data, columns=['File Name', 'Encoding Type'])
    return df

# Initialize or load existing summary DataFrame
try:
    df_summary = pd.read_csv('txt_encoding.csv')
except FileNotFoundError:
    df_summary = pd.DataFrame(columns=['File Name', 'Encoding Type'])


# Get all directory names under "/app/data/jrdb_txt/"
list_file_name = [name for name in os.listdir("/app/data/jrdb_txt/") if os.path.isdir(os.path.join("/app/data/jrdb_txt/", name))]

for file_name in list_file_name:
    print(f"Processing {file_name}...")
    folder_path = f"/app/data/jrdb_txt/{file_name}"
    df = check_file_encodings(folder_path)
    unique_encodings = df['Encoding Type'].unique()

    new_row = pd.DataFrame({'File Name': [file_name], 'Encoding Type': [unique_encodings]})
    df_summary = pd.concat([df_summary, new_row], ignore_index=True)

    df_summary.to_csv('txt_encoding.csv', index=False)

print("Finished processing all directories.")

Processing BAC...

Checking encodings: 100%|██████████| 2655/2655 [00:09<00:00, 289.83it/s]

Processing CHA...

Checking encodings: 100%|██████████| 1623/1623 [00:05<00:00, 273.66it/s]

Processing CYB...

Checking encodings: 100%|██████████| 2552/2552 [00:01<00:00, 1820.29it/s]

Processing CZA...

Checking encodings: 100%|██████████| 1/1 [00:00<00:00, 118.28it/s]

Processing JOA...

Checking encodings: 100%|██████████| 2655/2655 [00:08<00:00, 307.48it/s]

Processing KAB...

Checking encodings: 100%|██████████| 2655/2655 [00:03<00:00, 760.04it/s]

Processing KKA...

Checking encodings: 100%|██████████| 2311/2311 [00:01<00:00, 1564.69it/s]

Processing KYI...

Checking encodings: 100%|██████████| 2655/2655 [00:08<00:00, 310.59it/s]

Processing KZA...

Checking encodings: 100%|██████████| 1/1 [00:00<00:00, 118.25it/s]

Processing MZA...

Checking encodings: 100%|██████████| 1/1 [00:00<00:00, 317.22it/s]

Processing OT...

Checking encodings: 100%|██████████| 2208/2208 [00:02<00:00, 1100.63it/s]

Processing OU...

Checking encodings: 100%|██████████| 2208/2208 [00:01<00:00, 1224.83it/s]

Processing OV...

Checking encodings: 100%|██████████| 2058/2058 [00:02<00:00, 837.42it/s]

Processing OW...

Checking encodings: 100%|██████████| 2562/2562 [00:02<00:00, 1231.16it/s]

Processing OZ...

Checking encodings: 100%|██████████| 2655/2655 [00:02<00:00, 1223.15it/s]

Processing UKC...

Checking encodings: 100%|██████████| 2655/2655 [00:13<00:00, 202.44it/s]

Processing ZED...

Checking encodings: 100%|██████████| 1634/1634 [00:06<00:00, 254.37it/s]

Processing ZKB...

Checking encodings: 100%|██████████| 1973/1973 [00:08<00:00, 229.00it/s]

Finished processing all directories.

In [4]:
df_summary

   File Name                           Encoding Type
0        BAC                           ['SHIFT_JIS']
1        BAC                             [SHIFT_JIS]
2        CHA         [MacRoman, Johab, Windows-1252]
3        CYB                       [ascii, MacRoman]
4        CZA                             [SHIFT_JIS]
5        JOA                             [SHIFT_JIS]
6        KAB  [Windows-1252, None, MacRoman, IBM866]
7        KKA                                 [ascii]
8        KYI                      [CP932, SHIFT_JIS]
9        KZA                             [SHIFT_JIS]
10       MZA                                 [ascii]
11        OT                                 [ascii]
12        OU                                 [ascii]
13        OV                                 [ascii]
14        OW                                 [ascii]
15        OZ                                 [ascii]
16       UKC                      [CP932, SHIFT_JIS]
17       ZED                             [SHIFT_JIS]
18       ZKB                             [SHIFT_JIS]

## Encoding

### BAC

In [66]:
# import pandas as pd
# import numpy as np

# # すべての列を表示する設定
# pd.set_option('display.max_columns', None)

# def read_and_convert_bac(file_path):
#     data_list = []

#     with open(file_path, 'r', encoding='SHIFT_JIS') as f:
#         for line in f:
#             data = {
#                 "場コード": line[0:2],
#                 "年": line[2:4],
#                 "回": line[4:5],
#                 "日": line[5:6],
#                 "R": line[6:8],
#                 "年月日": line[8:16],
#                 "発走時間": line[16:20],
#                 "距離": line[20:24],
#                 "芝ダ障害コード": line[24:25],
#                 "右左": line[25:26],
#                 "内外": line[26:27],
#                 "種別": line[27:29],
#                 "条件": line[29:31],
#                 "記号": line[31:34],
#                 "重量": line[34:35],
#                 "グレード": line[35:36],
#                 "レース名": line[36:61],
#                 "回数": line[61:69],
#                 "頭数": line[69:71],
#                 "コース": line[71:72],
#                 "開催区分": line[72:73],
#                 "レース名短縮": line[73:77],
#                 "レース名９文字": line[77:87],
#                 "データ区分": line[124:125],
#                 "１着賞金": line[125:130],
#                 "２着賞金": line[130:135],
#                 "３着賞金": line[135:140],
#                 "４着賞金": line[140:145],
#                 "５着賞金": line[145:150],
#                 "１着算入賞金": line[150:155],
#                 "２着算入賞金": line[155:160],
#                 "馬券発売フラグ": line[160:176],
#                 "WIN5フラグ": line[176:177],
#                 "予備": line[177:182]
#             }
#             data_list.append(data)

#     # DataFrameを作成
#     df = pd.DataFrame(data_list)
#     # df.replace('\u200b', '', inplace=True)
#     # df.replace('\u3000', '', inplace=True)

#     # スペースをNaNに置換
#     df['グレード'].replace(' ', np.nan, inplace=True)

#     return df

# # 使用例
# df_test = read_and_convert_bac("/app/data/jrdb_txt/BAC/2023/BAC231001.txt")
# df_test


# # 使用例
# df_test = read_and_convert_bac("/app/data/jrdb_txt/BAC/2014/BAC141221.txt")
# df_test

In [74]:
# import pandas as pd
# import numpy as np

# # すべての列を表示する設定
# pd.set_option('display.max_columns', None)

# def read_and_convert_bac(file_path):
#     data_list = []

#     with open(file_path, 'r', encoding='SHIFT_JIS') as f:
#         for line in f:
#             byte_str = line.encode('SHIFT_JIS')
#             data = {
#                 "場コード": byte_str[0:2].decode('SHIFT_JIS').strip(),
#                 "年": byte_str[2:4].decode('SHIFT_JIS').strip(),
#                 "回": byte_str[4:5].decode('SHIFT_JIS').strip(),
#                 "日": byte_str[5:6].decode('SHIFT_JIS').strip(),
#                 "Ｒ": byte_str[6:8].decode('SHIFT_JIS').strip(),
#                 "年月日": byte_str[8:16].decode('SHIFT_JIS').strip(),
#                 "発走時間": byte_str[16:20].decode('SHIFT_JIS').strip(),
#                 "距離": byte_str[20:24].decode('SHIFT_JIS').strip(),
#                 "芝ダ障害コード": byte_str[24:25].decode('SHIFT_JIS').strip(),
#                 "右左": byte_str[25:26].decode('SHIFT_JIS').strip(),
#                 "内外": byte_str[26:27].decode('SHIFT_JIS').strip(),
#                 "種別": byte_str[27:29].decode('SHIFT_JIS').strip(),
#                 "条件": byte_str[29:31].decode('SHIFT_JIS').strip(),
#                 "記号": byte_str[31:34].decode('SHIFT_JIS').strip(),
#                 "重量": byte_str[34:35].decode('SHIFT_JIS').strip(),
#                 "グレード": byte_str[35:36].decode('SHIFT_JIS').strip(),
#                 "レース名": byte_str[36:86].decode('SHIFT_JIS').strip(),
#                 "回数": byte_str[86:94].decode('SHIFT_JIS').strip(),
#                 "頭数": byte_str[94:96].decode('SHIFT_JIS').strip(),
#                 "コース": byte_str[96:97].decode('SHIFT_JIS').strip(),
#                 "開催区分": byte_str[97:98].decode('SHIFT_JIS').strip(),
#                 "レース名短縮": byte_str[98:106].decode('SHIFT_JIS').strip(),
#                 "レース名９文字": byte_str[106:124].decode('SHIFT_JIS').strip(),
#                 "データ区分": byte_str[124:125].decode('SHIFT_JIS').strip(),
#                 "１着賞金": byte_str[125:130].decode('SHIFT_JIS').strip(),
#                 "２着賞金": byte_str[130:135].decode('SHIFT_JIS').strip(),
#                 "３着賞金": byte_str[135:140].decode('SHIFT_JIS').strip(),
#                 "４着賞金": byte_str[140:145].decode('SHIFT_JIS').strip(),
#                 "５着賞金": byte_str[145:150].decode('SHIFT_JIS').strip(),
#                 "１着算入賞金": byte_str[150:155].decode('SHIFT_JIS').strip(),
#                 "２着算入賞金": byte_str[155:160].decode('SHIFT_JIS').strip(),
#                 "馬券発売フラグ": byte_str[160:176].decode('SHIFT_JIS').strip(),
#                 "WIN5フラグ": byte_str[176:177].decode('SHIFT_JIS').strip(),
#                 "予備": byte_str[177:182].decode('SHIFT_JIS').strip()
#             }
#             # スペースをNaNに置換
#             for key, value in data.items():
#                 if value == ' ':
#                     data[key] = np.nan
#             data_list.append(data)

#     # DataFrameを作成
#     df = pd.DataFrame(data_list)

#     # DataFrameをutf-8のCSVとして保存
#     df.to_csv("bac_converted.csv", encoding='utf-8', index=False)

#     return df

# # 使用例
# df_test = read_and_convert_bac("/app/data/jrdb_txt/BAC/2023/BAC231015.txt")
# df_test

In [77]:
df_bac = pd.read_csv('/app/data/jrdb_csv/BAC/BAC_1999.csv')
df_bac

,場コード,年,回,日,Ｒ,年月日,発走時間,距離,芝ダ障害コード,右左,内外,種別,条件,記号,重量,グレード,レース名,回数,頭数,コース,開催区分,レース名短縮,レース名９文字,データ区分,１着賞金,２着賞金,３着賞金,４着賞金,５着賞金,１着算入賞金,２着算入賞金,馬券発売フラグ,WIN5フラグ,予備
0,6,99,1,1,1,19990105,1000,1800,2,1,1,12,A3,302,3,NaN,NaN,NaN,10,NaN,1,NaN,３歳未勝利,4,510,200,130,77,51,400,0,11110000,NaN,NaN
1,6,99,1,1,2,19990105,1025,1000,2,1,1,12,A3,2,3,NaN,NaN,NaN,12,NaN,1,NaN,３歳未勝利,4,510,200,130,77,51,400,0,11110000,NaN,NaN
2,6,99,1,1,3,19990105,1050,1200,2,1,1,12,A3,102,3,NaN,NaN,NaN,11,NaN,1,NaN,３歳未勝利,4,510,200,130,77,51,400,0,11110000,NaN,NaN
3,6,99,1,1,4,19990105,1115,1800,2,1,1,12,A1,22,3,NaN,NaN,NaN,14,NaN,1,NaN,３歳新馬,4,600,240,150,90,60,400,0,11110000,NaN,NaN
4,6,99,1,1,5,19990105,1145,1200,2,1,1,12,A1,102,3,NaN,NaN,NaN,13,NaN,1,NaN,３歳新馬,4,600,240,150,90,60,400,0,11110000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3410,9,99,5,8,8,19991226,1345,2500,1,1,1,13,09,102,2,5.0,江坂特別,NaN,9,4.0,2,江坂特別,江坂特別,4,1450,580,360,220,145,720,0,11110100,NaN,NaN
3411,9,99,5,8,9,19991226,1420,1400,2,1,1,13,05,3,2,NaN,NaN,NaN,16,NaN,2,NaN,４歳上５００万下,4,750,300,190,110,75,400,0,11110100,NaN,NaN
3412,9,99,5,8,10,19991226,1500,1400,2,1,1,13,16,103,2,5.0,サンタクロースステークス,NaN,16,NaN,2,サンタＳ,サンタクロースＳ,4,1800,720,450,270,180,900,0,11110100,NaN,NaN
3413,9,99,5,8,11,19991226,1540,2000,1,1,1,13,OP,103,2,5.0,六甲ステークス,NaN,11,4.0,2,六甲Ｓ,六甲ステークス,4,2400,960,600,360,240,1200,0,11110100,NaN,NaN
3414,9,99,5,8,12,19991226,1615,1200,1,1,1,13,09,102,2,NaN,NaN,NaN,14,4.0,2,NaN,４歳上９００万下,4,1050,420,260,160,105,400,0,11110100,NaN,NaN

In [71]:
# df_test[df_test['回数']=='40111000']
# df_test[df_test['場コード']=='08']
print(df_test.columns)
# print(df_test.dtypes)
print(df_test['グレード'].unique())
# df_test.loc[1, 'レース名']

# df_test[['３着賞金']]

Index(['場コード', '年', '回', '日', 'Ｒ', '年月日', '発走時間', '距離', '芝ダ障害コード', '右左', '内外',
       '種別', '条件', '記号', '重量', 'グレード', 'レース名', '回数', '頭数', 'コース', '開催区分',
       'レース名短縮', 'レース名９文字', 'データ区分', '１着賞金', '２着賞金', '３着賞金', '４着賞金', '５着賞金',
       '１着算入賞金', '２着算入賞金', '馬券発売フラグ', 'WIN5フラグ', '予備'],
      dtype='object')
['' '5' '1']